:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-orange: #feb546;
  --color-blue: #43c5e6;
  --color-grey: #b7c1c4;
  --color-white-gray: #ecf2f3;
  --color-navbar-background: #635b59;
  --color-navbar-hover-background: #555251;

  --font-large: 80px;
  --font-medium: 60px;
  --font-reguiar: 30px;
  --font-small: 20px;
  --font-micro: 10px;

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  --size-border-radius: 4px;

  --animation-duration: 500ms;
}

body {
  background-image: url("/image/bg.jpg");
}

.section {
  /* padding: 50px; */
  /* text-align: center; */
  /* margin: auto; */
}

h1 {
  font-size: var(--font-large);
}

h4 {
  font-size: var(--font-small);
}

#head {
  text-align: center;
  margin-top: 250px;
  margin-bottom: 120px;
  transition: all var(--animation-duration) ease;
}

.disappear {
  transform: translateY(10%);
  opacity: 0;
}

.appear {
  transform: translateY(-5%);
  opacity: 1;
}

.head__title {
  color: var(--color-white);
  margin-bottom: 20px;
}

.head__description {
  font-style: oblique;
  line-height: 40px;
  color: var(--color-white);
}

.head__description a {
  color: var(--color-white);
  text-decoration: underline dotted;
}

.head__description a:hover {
  color: var(--color-blue);
}

.head__arrow {
  font-size: var(--font-medium);
  color: var(--color-white);
}

.head__arrow i:hover {
  color: var(--color-blue);
  cursor: pointer;
}

.header__content {
  position: absolute;
  opacity: 0;
  border: 5px solid var(--color-white);
  color: var(--color-white);
  text-align: center;
  width: 12%;

  top: 600px;
  left: 43.5%;
  line-height: 10px;
  margin: auto;
  transition: all var(--animation-duration) ease;
}

.header__content h2 {
  font-size: 30px;
}

.header__content:hover {
  border: 5px solid var(--color-blue);
  color: var(--color-blue);
  cursor: pointer;
}

.header__appear {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(-30%);
}

.header__disappear {
  pointer-events: none;
  opacity: 0;
  transform: translateY(60%);
}

#navbar {
}

.navbar__menu {
  width: 80%;
  /* height: 58.66px; */
  height: 100px;
  background-color: var(--color-navbar-background);

  display: flex;
  margin: auto;

  /* 반대축 아이템을 어디에 놓을지 정한다. 현재 상황에서 반대축은 y축 */
  align-items: center;

  margin-top: -70px;
}

.navbar__menu__item {
  background-color: var(--color-navbar-background);
  color: var(--color-white);
  border: 0px;

  margin: 0 0;
  padding: 0 0;
  width: 20%;
  height: 100%;
}

.navbar__menu__item:hover {
  background-color: var(--color-navbar-hover-background);
  cursor: pointer;
}

.navbar__menu__item:active {
  background-color: var(--color-navbar-hover-background);
}

.navbar__menu__item:focus {
  outline: none;
}

.navbar__menu__item.selected {
  background-color: var(--color-white);
  color: var(--color-black);
}

.navbar__contact {
  width: 80%;
  text-align: right;
  margin-right: 50px;
  /* margin-left: 800px; */
}

.navbar__contact i {
  font-size: var(--font-reguiar);
  margin: 0px 16px;
  color: var(--color-white);
}

.navbar__contact i:hover {
  color: var(--color-blue);
}

#main {
  background-color: var(--color-white);
  width: 80%;
  height: 80%;

  margin: auto;
}

.main__head {
  text-align: center;
}

.main__head__description {
  line-height: 200%;
}

.main__head__days {
  font-size: var(--font-small);
  padding-top: 120px;
}

.main__head__image {
  padding-top: 100px;
  width: 80%;
  height: 55%;
}

.main__head__button {
  margin-top: 120px;
}

.main__head__button a {
  border: solid;
  padding: 20px 60px;
  font-size: larger;
}

.main__head__button a:hover {
  color: var(--color-blue);
  cursor: pointer;
}

.post {
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
}

.post article {
  border: thin solid var(--color-grey);
  height: 800px;
  width: 49.9%;
  border-bottom: none;
}

.post article:nth-child(5),
.post article:nth-child(6) {
  border: thin solid var(--color-grey);
}

.post article:nth-child(odd) {
  border-left: none;
}

.post article:nth-child(even) {
  border-right: none;
  border-left: none;
}

.index {
  text-align: center;
  margin: 80px 0px 80px 0px;
}

.contact {
  display: flex;
  height: 600px;
  background-color: var(--color-white-gray);
}

.contact__sendMessage {
  width: 50%;
  height: 100%;
  border-right: thin solid var(--color-grey);
}

.contact__private {
  width: 50%;
}

.contact__private__address {
  border-bottom: thin solid var(--color-grey);
  height: 25%;
}

.contact__private__phone {
  border-bottom: thin solid var(--color-grey);
  height: 25%;
}

.contact__private__email {
  border-bottom: thin solid var(--color-grey);
  height: 25%;
}

.contact__private__social {
}
