:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-orange: #feb546;
  --color-blue: #43c5e6;
  --color-grey: #b7c1c4;
  --color-dark-grey: #707779;
  --color-white-gray: #ecf2f3;
  --color-navbar-background: #635b59;
  --color-navbar-hover-background: #555251;

  --font-large: 80px;
  --font-medium: 60px;
  --font-reguiar: 30px;
  --font-small: 20px;
  --font-micro: 10px;

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  --size-border-radius: 4px;

  --animation-duration: 500ms;
}

body {
  background-image: url("https://kimyongkwon.github.io/01_web_project/image/bg.jpg");
  /* text-align: center; */
}

h1 {
  font-size: var(--font-large);
}

h3 {
  font-size: var(--font-reguiar);
}

#head {
  text-align: center;
  margin-top: 250px;
  margin-bottom: 120px;
  transition: all var(--animation-duration) ease;
}

.invisible {
  display: none;
}

.disappear {
  transform: translateY(10%);
  opacity: 0;
}

.appear {
  transform: translateY(-5%);
  opacity: 1;
}

.head__title {
  color: var(--color-white);
  margin-bottom: 20px;
}

.head__description {
  font-style: oblique;
  line-height: 40px;
  color: var(--color-white);
}

.head__description a {
  color: var(--color-white);
  text-decoration: underline dotted;
}

.head__description a:hover {
  color: var(--color-blue);
}

.head__arrow {
  font-size: var(--font-medium);
  color: var(--color-white);
}

.head__arrow i:hover {
  color: var(--color-blue);
  cursor: pointer;
}

.header__content {
  opacity: 0;
  border: 5px solid var(--color-white);
  color: var(--color-white);
  text-align: center;
  width: 220px;
  height: 50px;

  margin: auto;
  transition: all var(--animation-duration) ease;
}

.header__content__word {
  font-size: 140%;
  line-height: 50px;
}

.header__content:hover {
  border: 5px solid var(--color-blue);
  color: var(--color-blue);
  cursor: pointer;
}

.header__appear {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(-200%);
}

.header__more__appear {
  opacity: 1;
  transform: translateY(-200%);
}

.header__disappear {
  pointer-events: none;
  opacity: 0;
  transform: translateY(10%);
}

#navbar {
}

.navbar__menu {
  width: 80%;
  /* height: 58.66px; */
  height: 100px;
  background-color: var(--color-navbar-background);

  display: flex;
  margin: auto;

  /* 반대축 아이템을 어디에 놓을지 정한다. 현재 상황에서 반대축은 y축 */
  align-items: center;

  margin-top: -70px;
}

.navbar__menu__item {
  background-color: var(--color-navbar-background);
  color: var(--color-white);
  border: 0px;

  margin: 0 0;
  padding: 0 0;
  width: 20%;
  height: 100%;
}

.navbar__menu__item:hover {
  background-color: var(--color-navbar-hover-background);
  cursor: pointer;
}

.navbar__menu__item:active {
  background-color: var(--color-navbar-hover-background);
}

.navbar__menu__item:focus {
  outline: none;
}

.navbar__menu__item.selected {
  background-color: var(--color-white);
  color: var(--color-black);
}

.navbar__contact {
  width: 80%;
  text-align: right;
  margin-right: 50px;
  /* margin-left: 800px; */
}

.navbar__contact i {
  font-size: var(--font-reguiar);
  margin: 0px 16px;
  color: var(--color-white);
}

.navbar__contact i:hover {
  color: var(--color-blue);
}

.subMenu {
  position: fixed;
  top: 2%;
  left: 92%;
  background-color: transparent;
  display: none;
}

.subMenu a {
  font-size: 15px;
  text-decoration: none;
  color: var(--color-white);
}

.subMenu__box {
  position: fixed;
  top: 0%;
  left: 100%;
  height: 100%;
  width: 300px;
  background-color: var(--color-white);
  transition: all var(--animation-duration) ease;
}

.subMenu__box__exit {
  text-align: right;
  margin: 20px;
  font-size: 25px;
}

.subMenu a:hover,
.subMenu__box__exit a:hover {
  cursor: pointer;
  color: var(--color-blue);
}

.subMenu__appear {
  transform: translateX(-100%);
}

.subMenu__disappear {
  transform: translateX(100%);
}

.subMenu__buttons {
  text-align: center;
  padding: 0px 30px 0px 30px;
  line-height: 60px;
}

.subMenu__buttons li {
  text-align: left;
  padding-left: 15px;
  list-style-type: none;
  font-size: small;
}

.subMenu__buttons li:nth-child(1),
.subMenu__buttons li:nth-child(2) {
  border-bottom: thin solid var(--color-grey);
}

.subMenu__buttons li:hover {
  cursor: pointer;
  color: var(--color-blue);
}

#main {
  background-color: var(--color-white);
  width: 80%;
  height: 80%;

  margin: auto;
}

.main__head {
  text-align: center;
}

.main__head__description {
  line-height: 200%;
}

.main__head__days {
  font-size: var(--font-small);
  padding-top: 120px;
}

.main__head__image {
  padding-top: 100px;
  width: 80%;
  height: 55%;
}

.main__head__button {
  margin-top: 120px;
}

.main__head__button a {
  border: solid;
  padding: 20px 60px;
  font-size: larger;
}

.main__head__button a:hover {
  color: var(--color-blue);
  cursor: pointer;
}

.post {
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
}

.post article {
  border: thin solid var(--color-grey);
  height: 950px;
  width: 49.9%;
  border-bottom: none;
}

.post article:nth-child(5),
.post article:nth-child(6) {
  border: thin solid var(--color-grey);
}

.post article:nth-child(odd) {
  border-left: none;
}

.post article:nth-child(even) {
  border-right: none;
  border-left: none;
}

.post article {
  padding-top: 50px;
  text-align: center;
}

.post article h4 {
  font-size: 20px;
  line-height: 40px;
}

.post__article__image {
  padding: 20px 0px;
  width: 80%;
  height: 40%;
}

.post__article__button {
  padding-top: 40px;
}

.post__article__button a {
  border: solid;
  padding: 15px 30px;
  font-size: var(--font-small);
}

.post__article__button a:hover {
  color: var(--color-blue);
  cursor: pointer;
}

.index {
  display: flex;
  justify-content: center;
  margin: 150px 0px 150px 0px;
}

.page,
.extra {
  border: 2px solid var(--color-dark-grey);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.page.active {
  background-color: var(--color-white-gray);
}

.page:hover {
  border-color: var(--color-blue);
  color: var(--color-blue);
}

#contact {
  display: flex;
  height: 600px;
  background-color: var(--color-white-gray);
}

.contact__sendMessage {
  width: 50%;
  height: 100%;
  border-right: thin solid var(--color-grey);
}

.contact__private {
  width: 50%;
}

.contact__private__address {
  border-bottom: thin solid var(--color-grey);
  height: 25%;
}

.contact__private__phone {
  border-bottom: thin solid var(--color-grey);
  height: 25%;
}

.contact__private__email {
  border-bottom: thin solid var(--color-grey);
  height: 25%;
}

.contact__private__social {
  border-bottom: none;
  height: 25%;
}

.contact__sendMessage form {
  padding-left: 80px;
  padding-top: 40px;
}

.contact__sendMessage__name {
  padding-bottom: 20px;
}

.contact__sendMessage__email {
  padding-bottom: 20px;
}

.contact__sendMessage__name input,
.contact__sendMessage__email input {
  width: 80%;
  height: 30px;
  padding: 10px;
  font-size: 15px;
}

.contact__sendMessage__message textarea {
  width: 78%;
  height: 150px;
  padding: 15px;
  font-size: 15px;
}

.contact__sendMessage__name input:focus,
.contact__sendMessage__email input:focus,
.contact__sendMessage__message textarea:focus {
  outline-color: var(--color-blue);
}
.contact__sendMessage__name,
.contact__sendMessage__email,
.contact__sendMessage__message {
  line-height: 40px;
}

.contact__sendMessage__button {
  padding-top: 25px;
}

.contact__sendMessage__button a {
  color: var(--color-dark-grey);
  border: 2px solid var(--color-dark-grey);
  padding: 10px 10px;
  font-size: 15px;
}

.contact__sendMessage__button a:hover {
  color: var(--color-blue);
  border-color: var(--color-blue);
  cursor: pointer;
}

.contact__private__address,
.contact__private__phone,
.contact__private__email,
.contact__private__social {
  display: flex;
  align-items: center;
  /* position: relative; */
}

.contact__private__subject {
  padding-left: 70px;
  /* padding-left: 70px; */
  /* padding-bottom: 30px; */
}

.contact__private__description {
  /* line-height: 30px; */
  /* position: absolute; */
}

.contact__private__address .contact__private__description {
  padding-top: 20px;
  padding-left: 50px;
}

.contact__private__phone .contact__private__description {
  padding-left: 65px;
}

.contact__private__email .contact__private__description {
  padding-left: 70px;
}

.contact__private__social .contact__private__description {
  padding-left: 65px;
}
.contact__private__description ul {
  margin: 0;
  padding: 0;
}

.contact__private__description ul li {
  display: inline;
  margin-right: 30px;
}

.contact__private__description i {
  color: var(--color-dark-grey);
  font-size: 25px;
}

.contact__private__description i:hover {
  color: var(--color-blue);
}

@media screen and (max-width: 980px) {
  .navbar__menu {
    display: none;
  }

  #main,
  .header__content {
    margin-top: -50px;
  }

  .subMenu {
    display: inline;
  }

  .post article {
    width: 100%;
  }

  #contact {
    display: block;
    height: 100%;
  }

  .contact__sendMessage {
    margin-right: 0;
    width: 100%;
  }

  .contact__private {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-right: 0;
    width: 100%;
  }

  .main__head h1 {
    font-size: var(--font-medium);
  }

  .main__head__description {
    font-size: var(--font-small);
    line-height: 150%;
  }
}

@media screen and (min-width: 980px) {
  .subMenu__box {
    display: none;
  }
}
